/* Arquivo: static/adipalpites.css */

/* Estilos Globais */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

/* Cabeçalho */
header {
    background-color: #006400;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 2em;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}

/* Navegação */
nav {
    margin-top: 15px;
}

nav a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin: 0 10px;
    padding: 8px 15px;
    background-color: #228B22;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

nav a:hover {
    background-color: #004d00;
    transform: scale(1.05);
}

/* Conteúdo Principal */
main {
    padding: 40px;
    text-align: center;
}

h1 {
    color: #006400;
    font-size: 2em;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

/* Formulário */
.form-container {
    margin: 20px auto;
    max-width: 600px;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #006400;
    font-size: 1.8em;
    margin-bottom: 20px;
    text-transform: uppercase;
}


.game-prediction {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

/* Grupo do Formulário */
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os campos Nome e Resultado */
    width: 100%;
}

.form-group label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="number"] {
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type="text"]:focus, input[type="number"]:focus {
    border-color: #006400;
    outline: none;
}

/* Seção de Times */
.teams {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team-name {
    width: 80px; /* Aumente o valor conforme necessário */
    font-size: 1.1em;
}

/* Entrada de Placar */
.score-input {
    width: 10px;
    height: 50px;
    text-align: center;
    font-size: 1.2em;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.score-input:focus {
    border-color: #006400;
    outline: none;
    transform: scale(1.05);
}

.separator {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

/* Botão de Submissão */
button {
    padding: 12px 25px;
    font-size: 1.1em;
    color: #fff;
    background-color: #006400;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #004d00;
    transform: translateY(-2px);
}

button:active {
    transform: scale(0.98);
}

/* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    font-size: 0.9em;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2);
    bottom: 0;
}

footer p {
    margin: 0;
}

/* Barra Superior */
.bar {
    color: #ffffff;
    font-size: 1.8em;
    text-transform: uppercase;
}

#nome, #resultado {
    width: 70%; /* Ajuste conforme necessário */
    max-width: 300px;
    margin: 0 auto; /* Garante centralização */
    text-align: center; /* Opcional: Centraliza o texto dentro do campo */
}

select {
    padding: 10px;
    font-size: 1em;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #ddd;
}

select:focus {
    outline: none;
    border-color: #006400;
}