/* Arquivo: static/esta.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
}

.bar {
    color: #ffffff;
    font-size: 1.8em;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;

}

header {
    background-color: #006400; 
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2em;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}

nav {
    margin-top: 15px;
}

nav a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin: 0 10px;
    padding: 8px 15px;
    background-color: #228B22;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

nav a:hover {
    background-color: #004d00;
    transform: scale(1.05);
}

main {
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.statistics-section {
    margin-top: 20px;
}

h1 {
    color: #006400;
    font-size: 2em;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.stat-card {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.2s ease;
}

.stat-card h2 {
    color: #006400;
    font-size: 1.5em;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.stat-card p {
    font-size: 1.2em;
    margin: 5px 0;
    color: #333;
}

.stat-card:hover {
    transform: translateY(-5px);
}


footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative; 
    width: 100%;
    font-size: 0.9em;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
}

h3{
    color: #006400;
    margin-bottom: 20px;
    text-align: center;
}