<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Palpite</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='adipalpites.css') }}">
</head>
<body>
    <header>
        <h1 class="bar">Sistema de Palpites 🏆</h1>
        <nav>
            <a href="{{ url_for('index') }}">Pontuação</a>
            <a href="{{ url_for('estatisticas') }}">Estatísticas</a>
            <a href="{{ url_for('exibir_palpites') }}">Palpites</a>
            <a href="{{ url_for('adicionar_palpites') }}">Adicionar Palpite</a>
        </nav>
    </header>

    <main>
        <h1>Adicionar Novo Palpite</h1>
        <div class="form-container">
            <form action="{{ url_for('adicionar_palpites') }}" method="POST">
                <div class="game-prediction">
                    <div class="form-group">
                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" name="nome" required>
                    </div>

                    <div class="teams">
                        <div class="team">
                            <label for="time1">Casa:</label>
                            <select id="time1" name="time1" required>
                                <option value="" disabled selected>Selecione o time de Casa</option>
                                <option value="Time A">FLA</option>
                                <option value="Time B">COR</option>
                                <option value="Time C">CUI</option>
                                <option value="Time D">BAH</option>
                                <option value="Time E">CAM</option>
                                <option value="Time F">FLU</option>
                            </select>
                        </div>

                        <input type="number" id="gol_time1" name="gol_time1" class="score-input" min="0" max="99" required />
                        <span class="separator">x</span>
                        <input type="number" id="gol_time2" name="gol_time2" class="score-input" min="0" max="99" required />

                        <div class="team">
                            <label for="time2">Fora:</label>
                            <select id="time2" name="time2" required>
                                <option value="" disabled selected>Selecione o time de Fora</option>
                                <option value="Time A">Time A</option>
                                <option value="Time B">Time B</option>
                                <option value="Time C">Time C</option>
                                <option value="Time D">Time D</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="resultado">Resultado:</label>
                        <input type="text" id="resultado" name="resultado" required />
                    </div>

                    <button type="submit">Adicionar Palpite</button>
                </div>
            </form>
        </div>
    </main>

    <footer>
        <p>© Desenvolvido por Carlos Natanael</p>
    </footer>
</body>
</html>
