<!-- Arquivo: templates/adicionar_palpites.html -->
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Palpite</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='adipalpites.css') }}">
</head>
<body>
    <!-- Navegador -->
    <header>
        <h1 class="bar">Sistema de Palpites 🏆</h1>
        <nav>
            <a href="{{ url_for('index') }}">Pontuação</a>
            <a href="{{ url_for('estatisticas') }}">Estatísticas</a>
            <a href="{{ url_for('exibir_palpites') }}">Palpites</a>
            <a href="{{ url_for('exibir_rodadas') }}">Rodadas</a>
            <a href="{{ url_for('adicionar_palpites') }}">Adicionar Palpite</a>
            <a href="{{ url_for('regra') }}">Regras</a>
        </nav>
    </header>
    <!-- Adicionar palpites -->
    <main>
        <h1>Adicionar Novo Palpite</h1>
        <div class="form-container">
            <h2>Rodada 4 Fechada</h2> 
            <!--
            <form action="{{ url_for('adicionar_palpites') }}" method="POST">
                <div class="game-prediction">
                    <label class="color"><strong>Rodada 5</strong></label>
                    <div class="form-group">
                        <label for="nome">Nome:</label>
                        <select type="text" id="nome" name="nome" required>
                            <option value="" disabled selected>Selecione o nome</option>
                            <option value="Ariel">Ariel</option>
                            <option value="Carlos">Carlos</option>
                            <option value="Celso">Celso</option>
                            <option value="Gabriel">Gabriel</option>
                            <option value="Lucas">Lucas</option>
                        </select>
                    </div>

                    <div class="teams">
                        <div class="team">
                            <label for="time1"><strong>CASA:</strong></label>
                            <select id="time1" name="time1" required>
                                <option value="" disabled selected>Selecione o time de Casa</option>
                                <option value="FOR">Fortaleza</option>
                                <option value="FLA">Flamengo</option>
                                <option value="RBB">Bragantino</option>
                                <option value="CAM">Atlético-MG</option>
                                <option value="BOT">Botafogo</option>
                                <option value="CUI">Cuiabá</option>
                                <option value="PAL">Palmeiras</option>
                                <option value="GRE">Grêmio</option>
                            </select>
                        </div>

                        <input type="number" id="gol_time1" name="gol_time1" class="score-input" min="0" max="99" required />
                        <span class="separator">x</span>
                        <input type="number" id="gol_time2" name="gol_time2" class="score-input" min="0" max="99" required />

                        <div class="team">
                            <label for="time2"><strong>FORA:</strong></label>
                            <select id="time2" name="time2" required>
                                <option value="" disabled selected>Selecione o time de Fora</option>
                                <option value="INT">Internacional</option>
                                <option value="VIT">Vitória</option>
                                <option value="CRI">Criciúma</option>
                                <option value="CAP">Atlético-PR</option>
                                <option value="SAO">São Paulo</option>
                                <option value="VAS">Vasco</option>
                                <option value="FLU">Fluminense</option>
                                <option value="COR">Corinthians</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="resultado">Resultado:</label>
                        <select type="text" id="resultado" name="resultado" required>
                            <option value="" disabled selected>Selecione resultado</option>
                            <option value="Vitória (Casa)">Vitória (Casa)</option>
                            <option value="Derrota (Fora)">Derrota (Fora)</option>
                            <option value="Vitória (Fora)">Vitória (Fora)</option>
                            <option value="Derrota (Casa)">Derrota (Casa)</option>
                            <option value="Empate">Empate</option>
                            <option value="Derrota">Derrota</option>
                            <option value="Vitória">Vitória</option>
                        </select>
                    </div>
                    <button type="submit">Adicionar Palpite</button>
                </div>
            </form>
            -->
        </div>
    </main>
    <footer>
        <p>© Desenvolvido por Carlos Natanael</p>
    </footer>
</body>
</html>
