<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estatísticas - Sistema de Palpites</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='esta.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('index') }}">Pontuação</a>
            <a href="{{ url_for('estatisticas') }}">Estatísticas</a>
            <a href="{{ url_for('exibir_palpites') }}">Palpites</a>
            <a href="{{ url_for('exibir_rodadas') }}">Rodadas</a>
            <a href="{{ url_for('adicionar_palpites') }}">Adicionar Palpite</a>
            <a href="{{ url_for('regra') }}">Regras</a>
        </nav>
    </header>
    <main>
        <section class="statistics-section">
            <h1>Estatísticas dos Palpites</h1>

            <div class="stat-card">
                <h2>Maior Pontuador</h2>
                <h3>Rodada Atual</h3> <p>
                    <strong>Nome: </strong>
                    {% if maior_pontuador %}
                        <span>{{ maior_pontuador.nome }}</span>
                    {% else %}
                        <span>-</span>
                    {% endif %}
                </p>
                <p>
                    <strong>Pontos: </strong>
                    {% if maior_pontuador %}
                        <span>{{ maior_pontuador.pontos }}</span>
                    {% else %}
                        <span>-</span>
                    {% endif %}
                </p>
            </div>

            <div class="stat-card">
                <h2>Quem Acertou Mais</h2>
                <h3>Rodada Atual</h3> <p>
                    <strong>Nome: </strong>
                    {% if quem_acertou_mais %}
                        <span>{{ quem_acertou_mais.nome }}</span>
                    {% else %}
                        <span>-</span>
                    {% endif %}
                </p>
                <p>
                    <strong>Acertos: </strong>
                    {% if quem_acertou_mais %}
                        <span>{{ quem_acertou_mais.acertos }}</span>
                    {% else %}
                        <span>-</span>
                    {% endif %}
                </p>
            </div>
        </section>
    </main>
    <footer>
        <p>© Desenvolvido por Carlos Natanael</p>
    </footer>
</body>
</html>