<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela de Pontuação</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        
        <h1 class="bar">Sistema de Palpites 🏆</h1>
        <nav>
            <a href="{{ url_for('index') }}">Pontuação</a>
            <a href="{{ url_for('exibir_palpites') }}">Palpites</a>
            <a href="{{ url_for('adicionar_palpites') }}">Adicionar Palpite</a>
        </nav>
    </header>

    <main>
        <h1>Tabela de Pontuação</h1>
        <table>
            <tr>
                <th>Posição</th>
                <th>Nome</th>
                <th>Pontos</th>
                <th>Acertos</th>
                <th>Erros</th>
            </tr>
            {% for jogador in pontuacao %}
            <tr>
                <td>{{ jogador['posicao'] }}º</td>
                <td>{{ jogador['nome'] }}</td>
                <td>{{ jogador['pontos'] }}</td>
                <td>{{ jogador['acertos'] }}</td>
                <td>{{ jogador['erros'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </main>

    <h2>Resultado do jogos</h2>
    <footer>
        <p>© 2024 Sistema de Palpites</p>
    </footer>
</body>
</html>
