<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Palpites</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Sistema de Palpites Online</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('exibir_pontuacao') }}">Tabela de Pontuação</a></li>
                <li><a href="{{ url_for('exibir_palpites') }}">Lista de Palpites</a></li>
                <li><a href="{{ url_for('adicionar_palpites') }}">Adicionar Palpite</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
