{% extends "layout.html" %}

{% block content %}
<h1>Tabela de Pontuação</h1>
<table>
    <tr>
        <th>Posição</th>
        <th>Nome</th>
        <th>Pontos</th>
        <th>Acertos</th>
        <th>Erros</th>
    </tr>
    {% for jogador in pontuacao %}
    <tr>
        <td>{{ jogador['posicao'] }}º</td>
        <td>{{ jogador['nome'] }}</td>
        <td>{{ jogador['pontos'] }}</td>
        <td>{{ jogador['acertos'] }}</td>
        <td>{{ jogador['erros'] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
