<!-- Arquivo: templates/rodadas.html -->
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rodada {{ rodada }}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='palpites.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Navegador -->
    <header>
        <h1 class="bar">Sistema de Palpites 🏆</h1>
        <nav>
            <a href="{{ url_for('index') }}">Pontuação</a>
            <a href="{{ url_for('estatisticas') }}">Estatísticas</a>
            <a href="{{ url_for('exibir_palpites') }}">Palpites</a>
            <a href="{{ url_for('exibir_rodadas') }}">Rodadas</a>
            <a href="{{ url_for('adicionar_palpites') }}">Adicionar Palpite</a>
            <a href="{{ url_for('regra') }}">Regras</a>
        </nav>
    </header>
    <main>
        <h2>Escolha a Rodada</h2>
        <ul>
            {% for rodada in rodadas %}
            <li><a href="{{ url_for('exibir_rodada', numero=loop.index) }}">{{ rodada }}</a></li>
            {% endfor %}
        </ul>
    </main>
    <footer>
        <p>© Desenvolvido por Carlos Natanael</p>
    </footer>
</body>
</html>